<!-- Chris Smith - S1564427 -->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fakipedia</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/png" href="logo.png">
  </head>
  <body class="home-layout">
    <header>
      <div class="logo-and-title">
        <img src="logo.png" alt="" width="40px" height="40px" />
        <h1>Fakipedia</h1>
      </div>
      <a href="/login" class="button">Login</a>
    </header>
    <nav class="sidebar">
      <a href="/">home</a>
      <a href="/articles">articles</a>
      <a href="/categories">categories</a>
      <a href="/login">admin</a>
    </nav>
    <main class="home" th:insert="~{${contentTemplate}}"></main>
  </body>
</html>
