<!-- Chris Smith - S1564427 -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki Login</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <form class="login-box" action="/login" method="POST">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        required
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />
      <div class="buttons">
        <button type="button" class="btn-register">Register</button>
        <button type="submit" class="btn-login">Log In</button>
      </div>
    </form>
  </body>
</html>
